{:paths ["main/src"]

 :deps {;; sorted
        babashka/fs {:mvn/version "0.5.20"}
        babashka/process {:mvn/version "0.5.22"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        org.babashka/cli {:mvn/version "0.8.57"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        pl.rynkowski.clj-gr/lang {:git/url "https://github.com/rynkowsg/clj-gr.git" :git/sha "5ee201de40df7b07b8979adab9cfdbcb1d8bf9e6" :deps/root "lib/lang"}
        #_:deps}

 :aliases
 {:repl {:extra-paths ["repl/src"]
         :extra-deps {vvvvalvalval/scope-capture {:mvn/version "0.3.3"}}}

  :test {:extra-paths ["test/src" "test/res"]
         :extra-deps {;; sorted
                      io.github.matthewdowney/rich-comment-tests {:git/tag "v1.0.3" :git/sha "a8711e9"}
                      lambdaisland/kaocha {:mvn/version "1.87.1366"}
                      lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                      #_:extra-deps}}

  :tool/antq
  {:replace-paths []
   :replace-deps {com.github.liquidz/antq {:mvn/version "2.8.1173"}
                  org.slf4j/slf4j-nop {:mvn/version "2.0.11"}}}

  #_:aliases}}
